<% provide :title, t("users.edit_title") %>
<% provide :button_text, t("users.save_changes") %>
<h1><%= t("users.edit_header") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" target="_blank"><%= t("users.change_gravatar") %></a>
    </div>
  </div>
</div>
